<div class="row">
	<div class="route_form large-8 columns">

		
			<fieldset>
				<legend>Errands done efficiently</legend>

				<div class="row">
					<div class="large-8 columns">
						<label for="travel_mode">Run errands by:
							<select name="travel_mode">
								<option value="drive">Car</option>
								<option value="walk">Foot</option>
							</select>
						</div>
					</div>

					<% if !defined?(start_dest) %>
					<form action="/add-items" method="post">
					<div class="row">
						<div class="start large-8 columns">
							<label for="start_name">Start/end location 
								<input name="start_name" type="text"> 
							</label>
							<label for="start_address">Address
								<input name="start_address" type="text"> 
							</label>
						</div>
					</div>
					<div class="row">
						<div class="large-8 columns">
							<button class="location small">Set start/end location</button>
 						</div>
					</div>
					</form>
					<% else %>
					<form action="/add-items" method="post">
					<div class="row">
						<div class="errand large-8 columns">
							<label for="dest_name">Errand name
								<input name="dest_name" type="text"> 
							</label>
							<label for="dest_address">Errand address
								<input name="dest_address" type="text"> 
							</label>

						</div>
					</div>
					<div class="row">
						<div class="large-8 columns">
							<button class="add small">Add my errand!</button>
						</div>
					</div>
				</form>
					<%end %>
				</div>

			</fieldset>
		

		<div class="sidebar large-4 columns">
			<h4>To-dos</h4>
			<% if defined?(start_dest) %>
			<p><strong><%="#{start_dest.first}"%></strong></p>
			<% end %> 
			<% if defined?(dests) && dests != []%>
				<ol> 
				<% dests.each do |array|  %>
				<li><%= "#{array.first}"%></li>
					<li><em><%= "#{array.last}" %></em></li>
						<% end %> 
				</ol>
				
				<% end %>
			<button class="find_route" a href="/drive-route">Find my route</button> 
						

					</div>



				</div>







