<div class="row">

	<div class="route_form large-8 columns">
		<form action="/add-items" method="post">
		<fieldset>
		<legend>Errands done efficiently</legend>

		<div class="row">
			<div class="large-4 columns">
			<label for="travel_mode">Run errands by:
			<select name="travel_mode">
			<option value="true">Car</option>
			<option value="false">Foot</option>
			</select>
			</div>
		</div>

		<div class="row">
			<div class="start large-4 columns">
				<label for="start_name">Start location 
				<input name="start_name" type="text"> 
				</label>
				<label for="start_address">Start address
				<input name="start_address" type="text"> 
				</label>
			</div>
			<div class="errand large-4 columns" hidden>
				<label for="dest_name">Errand name
				<input name="dest_name" type="text"> 
				</label>
				<label for="dest_address">Errand address
				<input name="dest_address" type="text"> 
				</label>
			</div>
		</div>


		
	<div class="row">
		<div class="large-8 columns">
			<button class="add small">Add my errand!</button>
		</fieldset>
			</form>
		</div>
	</div>

<div class="sidebar large-4 columns">
	<h4>To-dos</h4>
		

		<button class="find_route" a href="/drive-route">Find my route</button> 

	</div>



</div>







