<!-- @route =  { 0 => [Address1-Address2, distance], 1=> [Address2-Address3, distance]}-->
<div class="row">
	<div class="large-6 columns">
		<h3>Efficient route</h3>
		<h4>Start</h4>
			<%=  start_dest.first %>
		<ul>
			<% points.each do |k, v| %>
				<li><%= "#{k}. #{v} to next destination"%> </li>
			<% end %>

		</ul>

		<p> <%=  start_dest.first + ', ' %> <em><%= start_dest.last %></em> </p>
	</div>
	<div class="large-6 columns">
	</div>
</div>

