
<!-- @route =  { 0 => [Address1-Address2, distance], 1=> [Address2-Address3, distance]}-->


<p> <%= 'Start: ' + start_dest.first + ', ' + start_dest.last %> </p>
<ul>
	<% dests.each do |d| %>
		<li><%= d.first + ', ' + d.last %><br /></li>
	<% end %>
</ul>

<% if end_dest != [] %>
	<p> <%= 'End: ' + end_dest.first + ', ' + end_dest.last %> </p>
<% end %>

